<section class="landing">

  <div class="lc">
    <div class="lc-opaque">
      <div class="angled"></div>

      <div class="lc-opaque-cta">
        <h1>Building PWAs the Right Way</h1>
        <p>Always looking to build the next one</p>
        <button (click)="consoleSomeShit()">
          <p>Contact Me</p>
        </button>
      </div>

    </div>
  </div>

</section>

<section class="welcome">

  <p class="welcome-header">Skillset</p>

  <div class="skillset">

    <mat-card class="skillset-card">

      <mat-card-header>
        <mat-card-title>Mongo DB</mat-card-title>
        <mat-card-subtitle>A Solid NoSQL DB</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="../../../assets/images/mongodb.jpeg" alt="angular">

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid porro sit officiis. Maxime ex repellat
          repellendus inventore debitis fugiat minima voluptas iure tempora minus reiciendis asperiores sunt, unde
          molestiae dolore.</p>
      </mat-card-content>

      <button class="skillset-card-btn" mat-button>Mongo Docs</button>
    </mat-card>

    <mat-card class="skillset-card">

      <mat-card-header>
        <mat-card-title>Express</mat-card-title>
        <mat-card-subtitle>Node's favorite middleware</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="../../../assets/images/express.jpeg" alt="angular">

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid porro sit officiis. Maxime ex repellat
          repellendus inventore debitis fugiat minima voluptas iure tempora minus reiciendis asperiores sunt, unde
          molestiae dolore.</p>
      </mat-card-content>

      <button class="skillset-card-btn" mat-button>Express Docs</button>

    </mat-card>

    <mat-card class="skillset-card">

      <mat-card-header>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>My favorite framework</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="../../../assets/images/angular.png" alt="angular">

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid porro sit officiis. Maxime ex repellat
          repellendus inventore debitis fugiat minima voluptas iure tempora minus reiciendis asperiores sunt, unde
          molestiae dolore.</p>
      </mat-card-content>

      <button class="skillset-card-btn" mat-button>Angular Docs</button>

    </mat-card>

    <mat-card class="skillset-card">

      <mat-card-header>
        <mat-card-title>Node</mat-card-title>
        <mat-card-subtitle>JS backend for the whole thing.</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="../../../assets/images/node.jpg" alt="angular">

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid porro sit officiis. Maxime ex repellat
          repellendus inventore debitis fugiat minima voluptas iure tempora minus reiciendis asperiores sunt, unde
          molestiae dolore.</p>
      </mat-card-content>

      <button class="skillset-card-btn" mat-button>Node Docs</button>

    </mat-card>

  </div>

</section>

<section class="what-i-do">

  <div class="what-i-do-bg">
    
  </div>

</section>