<mat-drawer-container class="sn" autosize>
  <mat-drawer #sidenav class="sn-container" mode="side">
    <div class="sn-container-links">
      <p><button mat-button (click)="close()"><i class="material-icons">close</i></button></p>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="">Contact</a></li>
          <li><a routerLink="">Work Experience</a></li>
          <li><a routerLink="">Demo Dashboard</a></li>
        </ul>
      </div>
  
      <div class="sn-picture">
        <div class="sn-picture-img">
  
        </div>
      </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p><button mat-button (click)="sidenav.open()">
      <i class="material-icons">menu</i>
    </button></p>
  </div>

</mat-drawer-container>